li {
    display: block;
}

a {
    text-decoration: none;
}

.navigation {
    background-color: rgba(128, 128, 128, 0.405);
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
}

.first_nav_ul {
    display: flex;
}

.form_in_nav {
    margin-left: 700px;
    display: flex;
}

.form_button {
    margin-left: 10px;
}

.a_in_first_ul {
    margin-left: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 5px;
    background-color: azure;
}

.main_section {
    display: flex;
}

.main_menu {
    display: block;
    padding-inline-start: 0;
}

.h1_in_main_menu {
    margin-left: 40px;
}

.sort {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.text_in_sort {
    width: 130px;
}

.button_in_sort {
    margin-left: 10px;
    height: 40px;
}

.dividing_line {
    width: 170px;
    height: 2px;
    flex-shrink: 0;
    background: var(--3, rgba(51, 50, 50, 0.584));
    border: 0.1px solid rgba(51, 50, 50, 0.584);
    border-radius: 50px;
    margin-left: 20px;
}

.count {
    margin-left: 20px;
}

.count_button {
    color: white;
    flex-shrink: 0;
    margin-left: 60px;
    margin-top: 0;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #3070fa;
    line-height: 200%;
    border-radius: 10px;
    padding-left: 20px;
}

.total_expenses {
    display: flex;
}

.total_text {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.total_price {
    font-family: Avenir;
    font-weight: 500;
}

.horizontal_line {
    margin-top: 10px;
    width: 2px;
    height: 1000px;
    flex-shrink: 0;
    background: var(--3, rgba(51, 50, 50, 0.584));
    border: 0.1px solid rgba(51, 50, 50, 0.584);
    border-radius: 50px;
    margin-left: 20px;
}

.content_ul {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    color: white;
    width: 200px;
    height: 300px;
    background-color: black;
    margin: 10px;
}

.modal {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    background: white;
    padding: 20px;
    text-align: center;
    /* Вирівняйте вміст по центру */
}

.create_button {
    margin: 10px;
    width: 50%;
}

.modal_edit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}



.modal_content_edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
}

.edit_button {
    margin: 0 auto;
    margin-top: 70%;
    width: 100px;
}